<%= form_for(@kaizen) do |f| %>
  <% if @kaizen.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kaizen.errors.count, "error") %> prohibited this kaizen from being saved:</h2>

      <ul>
      <% @kaizen.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <%= f.fields_for :user do |users_form| %>
          <%= users_form.text_field :email, class: "form-control col-md-3" %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= f.text_area :text, class: "form-control", rows: 5 %>
      </div>
    </div>
    
    <div class="row">
      <div class="actions">
        <%= f.submit class: "btn btn-default" %>
      </div>
    </div>
  </div>

<% end %>
