<p id="notice"><%= notice %></p>

<h1>Kaizens</h1>
<div class = "table-responsive">
  <table class = "table table-hover mytable table-striped table-condensed">
    <thead>
      <tr>
        <th>User</th>
        <th>Kaizen</th>
        <th>Date</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @kaizens.each do |kaizen| %>
        <tr>
          <td><%= kaizen.user.email %>@mastercontrol.com</td>
          <td><%= link_to kaizen.text, kaizen_path(kaizen) %></td>
          <td><%= kaizen.created_at.localtime.strftime('%d %b %Y') %></td>
          <td><%= link_to 'Edit', edit_kaizen_path(kaizen) %></td>
          <td><%= link_to 'Delete', kaizen, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
