<p id="notice"><%= notice %></p>

<h1>Listing Kaizens</h1>
<div class = "table-responsive">
  <table class = "table table-boardered">
    <thead>
      <tr>
        <th>User</th>
        <th>Kaizen</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @kaizens.each do |kaizen| %>
        <tr>
          <td><%= kaizen.user.email %>@mastercontrol.com</td>
          <td><%= kaizen.text %></td>
          <td><%= link_to 'Show', kaizen %></td>
          <td><%= link_to 'Edit', edit_kaizen_path(kaizen) %></td>
          <td><%= link_to 'Destroy', kaizen, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<%= link_to 'New Kaizen', new_kaizen_path %>
